<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="script.js"></script>
    <title>Document</title>
</head>

<body>
    <%- include('../base.ejs'); %>
        <div id="minhaConta-container">
            <div id="minha-conta-ops">
                <ul>
                    <li>
                        <a href="/minhaConta/pedidos">Meus pedidos</a>
                    </li>
                    <li>
                        <a href="/minhaConta/meusDados">Minha conta</a>
                    </li>
                </ul>
            </div>
            <div id="minha-conta-conteudo">
                <h2>Meus pedidos</h2>
                <hr>
                <div id="tab-pedidos">
                    <table>
                        <tr>
                            <th>Pedido</th>
                            <th>Data</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th> - </th>
                        </tr>
                        <tr>
                            <td>#23232</td>
                            <td>25/03/2023</td>
                            <td>Entregue</td>
                            <td>R$ 540,99</td>
                            <td>
                                <button>Visualizar</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</body>

</html>