@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: black;
    text-align: center;
    padding: 15px;
    font-weight: bolder;
    font-size: 25px;

}

#nome-principal>a {
    text-decoration: none;
    color: white;
}

#navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    padding: 20px;

    h3 {}

    .janelas {
        a {
            text-decoration: none;
            color: black;
            font-size: 20px;
            font-weight: bolder;
            padding: 10px;
        }

        a:hover {
            color: white;
        }
    }

    .login a {
        padding: 10px
    }

    .login a:hover {
        background-color: white;
        border-radius: 100%;
    }
}


#box {
    display: flex;
    justify-content: space-around;
}

.produto {
    padding: 20px;
    background-color: #f0f8ff;

    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .info {
        margin-top: 10px;
    }

    .nome-produto {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
    }

    .preco {
        color: #666;
        margin-bottom: 10px;
    }

    .comprar-btn {
        background-color: #4caf50;
        border: none;
        color: white;
        letter-spacing: 1px;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .comprar-btn:hover {
        background-color: #45a049;
    }
}



//TELA DE LOGIN



.aa {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-buttons {
    margin-top: 20px;
}

.login-buttons button {
    margin-right: 10px;
    height: 30px;
    width: 100%;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.login-buttons button:hover {
    background-color: #4b545b;
}

#register-form {
    width: 500px;

    div {}
}

// carrinhooooooooooooooooooooooooooooooooooo
#carrinho {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 65%;

    thead {
        text-align: left;
        border-bottom: 1px solid black;

    }

    tbody {
        tr {
            border-bottom: 1px solid black;
        }
    }
}

.produto-identificao {
    display: flex;

    align-items: center;
    padding: 15px 0;

    img {
        padding-left: 5px;
        border-radius: 8px;
    }

    .info-carrinho {
        padding-left: 5px;

        .nome {
            font-weight: bolder;
        }
    }
}

.qty {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;


    button {
        background-color: #ccc;
        margin: 0 10px;
        border: none;
        padding: 3px 6px;
        border-radius: 6px;
        cursor: pointer;
    }
}

.remover {
    button {
        border: none;
        background-color: rgb(151, 140, 140);
        color: white;
        padding: 7px;
        border-radius: 5px;
        cursor: pointer;

    }
}



#finalizar-compra {
    display: flex;
    justify-content: center;
    margin-top:20px;
    button {
        background-color: #4caf50;
        border: none;
        color: white;
        letter-spacing: 1px;
        border-radius: 5px;
        height: 40px;
        padding:5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #45a049;
    }

}
