@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

header {
  background-color: black;
  text-align: center;
  padding: 15px;
  font-weight: bolder;
  font-size: 25px;
}

#nome-principal > a {
  text-decoration: none;
  color: white;
}

#navegacao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
#navegacao .janelas a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px;
}
#navegacao .navegacao-direita {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navegacao .login {
  display: flex;
  align-items: center;
  font-weight: bolder;
}
#navegacao .login a {
  border-radius: 100%;
  border: 1px solid black;
  padding: 5px;
  margin-right: 10px;
}
#navegacao .dropdown {
  position: absolute;
  display: none;
  background-color: #ffffff;
  margin-top: 180px;
  border-radius: 5px;
  padding: 20px 10px;
  box-shadow: 0px 8px 16px 0px;
}
#navegacao .dropdown button {
  border: 1px solid black;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  padding: 6px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#navegacao .dropdown button:hover {
  background-color: #e7e7e7;
}
#navegacao .login:hover .dropdown {
  display: block;
}
#navegacao .login::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 120px;
}
#navegacao .cart {
  display: flex;
}
#navegacao .dropdown-cart {
  position: absolute;
  display: none;
  margin-top: 50px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px;
  right: 0;
  margin-right: 40px;
}
#navegacao .cart:hover .dropdown-cart {
  display: block;
}
#navegacao .cart::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 80px;
}

#box {
  display: flex;
  justify-content: space-around;
}

.produto {
  padding: 20px;
  background-color: rgba(204, 204, 204, 0.4274509804);
  border-radius: 3px;
}
.produto img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.produto .info {
  margin-top: 10px;
}
.produto .nome-produto {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}
.produto .preco {
  color: #666;
  margin-bottom: 10px;
}
.produto .comprar-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.produto .comprar-btn:hover {
  background-color: #45a049;
}

#container {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forms-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
}

.forms-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.forms-grupo {
  margin-bottom: 20px;
}

.forms-grupo label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.forms-grupo input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn {
  margin-top: 20px;
}

.login-btn button {
  margin-right: 10px;
  height: 30px;
  width: 100%;
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

.login-btn button:hover {
  background-color: #4b545b;
}

#register-forms {
  width: 500px;
}

#carrinho {
  display: flex;
  justify-content: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 65%;
}
table thead {
  text-align: left;
  border-bottom: 1px solid black;
}
table tbody tr {
  border-bottom: 1px solid black;
}

.produto-identificao {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.produto-identificao img {
  padding-left: 5px;
  border-radius: 8px;
}
.produto-identificao .info-carrinho {
  padding-left: 5px;
}
.produto-identificao .info-carrinho .nome {
  font-weight: bolder;
}

.qty {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}
.qty button {
  background-color: #ccc;
  margin: 0 10px;
  border: none;
  padding: 3px 6px;
  border-radius: 6px;
  cursor: pointer;
}

.remover button {
  border: none;
  background-color: rgb(151, 140, 140);
  color: white;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.finalizar-compra {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.finalizar-compra button {
  background-color: #4caf50;
  border: none;
  color: white;
  letter-spacing: 1px;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.finalizar-compra button:hover {
  background-color: #45a049;
}

#container-produto {
  display: flex;
  margin-top: 50px;
  background-color: #f7f7f7;
}
#container-produto #produto-lado-esquerdo {
  width: 50%;
  display: flex;
  justify-content: center;
}
#container-produto #produto-lado-direito {
  width: 50%;
}
#container-produto #produto-lado-direito div {
  margin-bottom: 20px;
}
#container-produto #produto-lado-direito #tamanhos .btn-tam {
  padding: 12px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
}
#container-produto #produto-lado-direito #tamanhos .selecionado {
  background-color: white;
}
#container-produto #produto-lado-direito #comprar {
  margin-top: 40px;
}
#container-produto #produto-lado-direito #comprar button {
  margin-top: 5px;
  border: none;
  background-color: #45a049;
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 15px 28px;
  border-radius: 5px;
  cursor: pointer;
}
#container-produto #produto-lado-direito #comprar button:hover {
  background-color: #3db843;
}
#container-produto #produto-lado-direito #cep input {
  margin-top: 5px;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 5px 50px;
}
#container-produto #produto-lado-direito #cep button {
  margin-top: 5px;
  border: 1px solid #666;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#minhaConta-container {
  display: flex;
  margin-top: 50px;
}

#minha-conta-ops {
  width: 30%;
  margin-left: 40px;
}
#minha-conta-ops li {
  display: flex;
  margin-top: 10px;
}
#minha-conta-ops li a {
  background-color: #eee;
  border: 1px solid black;
  text-decoration: none;
  width: 150px;
  height: 30px;
  color: black;
}

#minha-conta-conteudo {
  width: 70%;
}

#meus-dados {
  font-weight: bolder;
}
#meus-dados input {
  width: 300px;
  height: 30px;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px 1px;
  margin-bottom: 15px;
}
#meus-dados p {
  margin-top: 15px;
}/*# sourceMappingURL=style.css.map */