<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <style>

    </style>
    <title>Login e Registro</title>
</head>

<body>
    <header id="nome-principal">
        <a href="/">LOJA OFICIAL</a>
    </header>
    <div id="container">
        <div id="loginforms" class="forms-container" >
            <h2>Login</h2>
            <form action="/login" method="post">
                <div class="forms-grupo">
                    <input type="email" name="email" placeholder="Digite seu email" value="kaua@gmail.com"required>
                </div>
                <div class="forms-grupo">
                    <input type="password" name="senha" placeholder="Digite sua senha" value="kaua123" required>
                </div>
                <div class="login-btn">
                    <button type="submit">Entrar</button>
                </div>
            </form>
            <div class="social-icons">
                <img src="facebook-icon.png" alt="Facebook">
                <img src="google-icon.png" alt="Google">
                <!-- Adicione outros ícones sociais conforme necessário -->
            </div>
            <p>Não tem uma conta? <a href="/registrar">Registre-se</a></p>
        </div>
    </div>

    <script>

    </script>
</body>

</html>