<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <header id="nome-principal">
        <a href="/">LOJA OFICIAL</a>
    </header>

    <div id="container-produto">
        <div id="produto-lado-esquerdo">
            <div>
                <img src="<%= produtos.img %>" alt="" width="400" height="400">
            </div>
        </div>
        <div id="produto-lado-direito">
            <div>
                <h2> <%= produtos.titulo%></h2>
            </div>
            <div id="tamanhos">
                <p>Tamanho desejado</p>
                <button> 50cm </button>
                <button> 60cm </button>
                <button> 70cm </button>
            </div>
            <div id="comprar">
                <h3>R$ <%=produtos.precos%> no Pix</h3>
                <p> Ou 3x de R$ <%= (produtos.precos/3).toFixed(2) %></p>
                <button type="submit">COMPRAR</button>
            </div>
            <div id="cep">
                <p>Digite seu CEP</p>

                <input type="tel">
                <button>Calcular</button>
            </div>
        </div>
    </div>
</body>

</html>