<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <header id="nome-principal">
        <a href="/">LOJA OFICIAL</a>
    </header>

    <div id="container-produto">
        <div id="produto-lado-esquerdo">
            <div>
                <img src="https://picsum.photos/400/400" alt="">
            </div>
        </div>
        <div id="produto-lado-direito">
            <div>
                <h2> prata veneziana 925</h2>
            </div>
            <div id="tamanhos">
                <p>Tamanho desejado</p>
                <button> 50cm </button>
                <button> 60cm </button>
                <button> 70cm </button>
            </div>
            <div id="comprar">
                <h3>R$ 600,00 no Pix</h3>
                <p> Ou 3x de R$ 200,00</p>
                <button type="submit">COMPRAR</button>
            </div>
            <div id="cep">
                <p>Digite seu CEP</p>

                <input type="tel">
                <button>Calcular</button>
            </div>
        </div>
    </div>
</body>

</html>